* 					text=auto
*.cpp				text eol=lf
*.h					text eol=lf
*.c					text eol=lf
*.txt				text eol=lf
/windows/*			text eol=crlf
*.vcxproj			text eol=crlf
*.vcxproj.filters	text eol=crlf
*.sln				text eol=crlf
