name: test

on:
  push:
    branches:
      - '**'
  workflow_call:

env:
  PYTHONUNBUFFERED: 1

jobs:
  test-windows:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        env:
            cache-name: cache-deps
        with:
            path: dependencies
            key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('tools/configure.py', 'dependencies.json') }}

      - if: ${{ steps.cache-deps.outputs.cache-hit != 'true' }}
        name: Install dependencies
        run: |
          python tools\configure.py download-deps

      - name: Configure libfwk, tests & tools
        run: |
          python tools\configure.py -G ninja-clang-cl -T Debug -DFWK_UNITY_BUILD=ON

      - name: Build libfwk, tests & tools
        run: |
          cmake --build build --parallel

      - name: Run tests
        run: |
          build\Debug\tests\stuff.exe
          build\Debug\tests\math.exe


  test-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install system dependencies
        run: |
          sudo apt-get install libvorbis-dev libogg-dev libopenal-dev libdwarf-dev libelf-dev

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        env:
            cache-name: cache-deps
        with:
            path: dependencies
            key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('tools/configure.py', 'dependencies.json') }}

      - if: ${{ steps.cache-deps.outputs.cache-hit != 'true' }}
        name: Download dependencies
        run: |
          python tools/configure.py download-deps sdl shaderc-combined freetype vulkan-headers

      - name: Configure libfwk
        run: |
          export CXX=clang++
          export CC=clang
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build libfwk, tests & tools
        run: |
          cmake --build build -j8

      - name: Run tests
        run: |
          cd build/Release/tests
          ./stuff
          ./math
          ./variant_perf
          ./vector_perf
          ./hash_map_perf


  check-formatting:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: Install Dependencies
        run: |
          pip install black

      - name: Check C++ formatting
        run: |
          python tools/format.py -c

      - name: Check Python formatting
        if: '!cancelled()'
        run: |
          python tools/format.py -p -c
